.modes {
    position: fixed;
    right: 25px;
    top: 10px;
    // display: none;
    @media only screen and (max-width: 768px) {
        position: absolute;
        right: 20px;
    }
}

.other {
    border-bottom: none !important;
}

.react-switch-bg {
    
    > div {

        &:first-of-type {
            height: auto !important;
            left: 10px !important;
            top: 5px !important;
            width: 28px !important;
        }
        &:last-of-type {
            height: auto !important;
            width: 26px !important;
            right: 8px !important;
            top: 6px !important;
        }
    }
}


.light {
    background-color: white;
    color: black;
    transition: all 500ms ease-in-out;
    .other {
        &:hover {
            border-bottom: 1px solid black !important;
        }
    }
    a {
        border-bottom: 1px solid black;
    }
}

.dark {
    background-color: black;
    color: white;
    transition: all 500ms ease-in-out;
    .modes {
    
        > div {
            border: 1px solid white;
        }

    }
    .other {
        &:hover {
            border-bottom: 1px solid white !important;
        }
    }
    a {
        border-bottom: 1px solid white;
    }
}

