// #D92525 -- red
// #F25C05 -- orange
// #88A61B -- green
// #0E3D59 -- blue
// #572D8C -- purple
$color: #d92525;
$color2: #f25c05;
$color3: #88a61b;
$color4: #0e3d59;
$color5: #572d8c;

// Grays
// $color: #252526;
// $color2: #313134;
// $color3: #3e3e40;
// $color4: #4a4a4d;
// $color5: #575759;

html {
  background-color: black;
}

body {
  // min-height: 100hv;
  
  margin: 0;
}

.contact {
  margin: 30px 0 0 0;
  text-align: center;
  @media only screen and (max-width: 768px) {
    margin: 30px 20px 0 20px;
  }
}
.project {
  position: relative;
}

.project-date {
  position: absolute;
  top: 15px;
  right: 0;

  @media only screen and (max-width: 768px) {
    position: static;
    margin: 0 0 20px 0;
    top: auto;
    right: auto;
  }
}

.video-wrap {
  position: relative;
  margin-right: 20px;
  &:last-of-type {
    video {
      margin-right: 0;
    }
  }
  button {
    position: absolute;
    bottom: 4px;
    left: 0;
    background-color: $color4;
    border: 0;
    color: white;
    padding: 8px 14px;
  }
}
.project-thumbs {
  margin: 20px 0 0 0;
  display: flex;
  overflow-x: scroll;
  padding: 0 0 12px 0;
  align-items: flex-start;
  @media only screen and (max-width: 768px) {
    display: block;
  }
  a {
    border: none;
    margin-right: 20px;
    .video-wrap {
      margin-right: 0 !important;
    }
    &:last-of-type {
      margin-right: 0;
      .project-thumbs__item {
        margin-right: 0;
      }
      .video-wrap {
        margin-right: 0 !important;
        video {
          // margin-right: 0;
        }
      }
    }
  }
  &__item {
    max-width: 100%;
    // max-width: calc(65vw / 3);
    // @media only screen and (max-width: 1100px) {
    //   max-width: calc(90vw / 3);
    // }
    // @media only screen and (max-width: 768px) {
    //   width: calc(100%);
    //   max-width: none;
    //   display: inline-block;
    //   margin: 20px 0px 0px 0px;
    // }
    &-video {
      margin: 0;
      max-width: calc(72vw / 3);
      height: auto;
      // object-fit: cover;
      align-items: flex-start;
      // &-wrap {
      //   margin: 0 20px 0 0;
      // }
      @media only screen and (max-width: 1100px) {
        max-width: calc(90vw / 3);
      }
      @media only screen and (max-width: 768px) {
        // max-width: calc(72vw);
        max-width: calc(100%);
        height: auto;
        display: inline-block;
        margin: 20px 0px 0px 0px;
        vertical-align: top;
      }
    }
    display: block;
    margin: 0 0 0 0;
  }
}


.home {
  // min-height: 100vh;
  position: relative;
  // padding: 40px 0 50px 0;

  &__main {
    padding: 40px 0px 40px 0px;
    margin: 0 20px;
    overflow: hidden;

    @media only screen and (max-width: 768px) {
      padding: 0 0px;
      margin: 0 0px;
    }
    margin: 0px auto;
    max-width: 1000px;
  }
  &__header {
    padding: 0px 38px;
    @media only screen and (max-width: 768px) {
      margin: 100px 0 0 0;
      padding: 0px 20px;
    }
    h1 {
      font-size: 3.5rem;
      font-weight: 500;
      margin: 0;
      @media only screen and (max-width: 768px) {
        font-size: 4rem;
      }
      @media only screen and (max-width: 568px) {
        font-size: 3rem;
      }
      @media only screen and (max-width: 375px) {
        font-size: 2.7rem;
      }
    }
    h2 {
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.3em;
      margin: 10px 0 0 0;
      @media only screen and (max-width: 768px) {
        font-size: 1.5rem;
      }
      @media only screen and (max-width: 568px) {
        font-size: 1.3rem;
      }
      @media only screen and (max-width: 375px) {
        font-size: 1.2rem;
      }
    }
  }
  &__works {
    position: relative;
    z-index: 100;
    padding: 20px 40px 30px 40px;
    @media only screen and (max-width: 768px) {
      padding: 20px 20px 30px 20px;
    }
    h2 {
      margin: 0 0 5px 0;
      font-size: 1.4rem;
      font-weight: 600;
      @media only screen and (max-width: 500px) {
        font-size: 1.4rem;
      }
    }
    h3 {
      font-size: 1.2rem;
      font-weight: 600;
      @media only screen and (max-width: 500px) {
        font-size: 1.2rem;
      }
    }
    ul {
      margin: 40px 0 0 0;
      padding: 0;
      list-style: none;
      @media only screen and (max-width: 500px) {
        margin: 20px 0 30px 0;
      }
      li {
        margin: 0 0 40px 0;
      }
      p {
        line-height: 1.5rem;
        max-width: 900px;
        font-size: 18px;
      }
    }
  }
}
