// #D92525 -- red
// #F25C05 -- orange
// #88A61B -- green
// #0E3D59 -- blue
// #572D8C -- purple
$color: #d92525;
$color2: #f25c05;
$color3: #88a61b;
$color4: #0e3d59;
$color5: #572d8c;

// Grays
// $color: #252526;
// $color2: #313134;
// $color3: #3e3e40;
// $color4: #4a4a4d;
// $color5: #575759;

body {
  // min-height: 100hv;
  background: #edeee9;
  margin: 0;
}
@function makelongshadow($color, $color2, $color3, $color4, $color5) {
  $val: 0px 0px $color;
  @for $i from 1 through 10 {
    $val: #{$val}, -#{$i}px #{$i}px #{$color};
  }
  @for $i from 11 through 20 {
    $val: #{$val}, -#{$i}px #{$i}px #{$color2};
  }
  @for $i from 21 through 30 {
    $val: #{$val}, -#{$i}px #{$i}px #{$color3};
  }
  @for $i from 31 through 40 {
    $val: #{$val}, -#{$i}px #{$i}px #{$color4};
  }
  @for $i from 41 through 50 {
    $val: #{$val}, -#{$i}px #{$i}px #{$color5};
  }
  @return $val;
}

@keyframes animateShadow {
  0% {
    text-shadow: makelongshadow($color, $color2, $color3, $color4, $color5);
  }
  20% {
    text-shadow: makelongshadow($color2, $color3, $color4, $color5, $color);
  }
  40% {
    text-shadow: makelongshadow($color3, $color4, $color5, $color, $color2);
  }
  60% {
    text-shadow: makelongshadow($color4, $color5, $color, $color2, $color3);
  }
  80% {
    text-shadow: makelongshadow($color5, $color, $color2, $color3, $color4);
  }
  100% {
    text-shadow: makelongshadow($color, $color2, $color3, $color4, $color5);
  }
}

.home {
  // min-height: 100vh;
  position: relative;
  // padding: 40px 0 50px 0;

  &__main {
    padding: 40px 0px 80px 0px;
    margin: 0 20px;
    overflow: hidden;

    @media only screen and (max-width: 768px) {
      padding: 0 0px;
      margin: 0 20px;
    }
    //   padding: 40px;
    //   // overflow: hidden;
    margin: 0px auto;
    max-width: 1000px;
    //   font-weight: 600;
    //   line-height: 0.8;
    //   text-align: left;
    //   color: #fff;
    //   font-family: "Neuton", serif;

    //   // position: absolute;
    //   bottom: -5px;
    //   left: 0;
    //   color: #3c2121;
    //   @media only screen and (max-width: 1020px) {
    //     max-width: 900px;
    //   }
  }
  &__header {
    padding: 0px 38px;
    @media only screen and (max-width: 768px) {
      margin: 100px 0 0 0;
    }
    h1 {
      font-size: 7rem;
      margin: 0;
      @media only screen and (max-width: 768px) {
        font-size: 4rem;
      }
      @media only screen and (max-width: 568px) {
        font-size: 3rem;
      }
    }
    h2 {
      font-size: 2rem;
      @media only screen and (max-width: 768px) {
        font-size: 1.5rem;
      }
      @media only screen and (max-width: 568px) {
        font-size: 1.3rem;
      }
      text-shadow: makelongshadow($color, $color2, $color3, $color4, $color5);
      animation-name: animateShadow;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
  }
  &__works {
    background-color: white;
    position: relative;
    z-index: 100;
    padding: 20px 40px 30px 40px;
    h2 {
      margin: 0;
      font-size: 1.6rem;

      // text-shadow: makelongshadow($color, $color2, $color3, $color4, $color5);
      // animation-name: animateShadow;
      // animation-duration: 1s;
      // animation-iteration-count: infinite;
    }
    h3 {
      font-size: 1.3rem;
    }
    ul {
      margin: 40px 0 0 0;
      padding: 0;
      list-style: none;
      li {
        margin: 0 0 30px 0;
      }
      p {
        line-height: 1.5rem;
        max-width: 900px;
        font-size: 18px;
      }
    }
  }
}
